fastapi
uvicorn
python-dotenv
langchain
langchain-anthropic
langchain-core
langchain-google-genai
langchain-huggingface
langchain-openai
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
qdrant-client
langchain-qdrant
youtube-transcript-api
langchain-text-splitters
cachetools
google-api-python-client
pydantic
sentence-transformers
